body{
    margin: 0;
    
}
  
.nav{
  background-color: #0a5247;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu{
    font-size: 25px;
}
.menu::after{
    content: '';
    width: 0;
    background-color:#0a5247;
    display: block;
    height: 3px;
    transition: width 0.3s ease;
}
.menu:hover::after{
    width: 100%;
}
nav a:hover{
    color: #000000
}
nav a{
    position: relative;
    display: inline-block; 
    font: 1em sans-serif;
    
    color: #0a5247;
    padding: 0 23px;
    text-decoration: none;
}
.h1{
    margin: 0;
    color:#0a5247 ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3rem ;
}
.p{
    color:#0a5247 ;
    font-family: 'montserrat', sans-serif;
    
}
.part1{
    background-color:#bfd202;
}
.parte3{
background-image: url(./assets/fondo\ parte\ tre.jpg);
background-position: 100%;
background-repeat: no-repeat;
z-index: auto;
 }
 .ultima{
    background-color:#0a5247 ;
   justify-content: baseline;
 }
     .shape{
        border-radius: 50% 10%/ 50% 10%;
        border: 8px #0a5247 double;
      }
      .shape2{
       border: 8px #0a5247 double;
      }
a{ 
    text-decoration: none;
}
.div1{
    background-color: #ffde59;
    margin: 0;

}
.div2{
    background-color: #ffde59;
    margin: 0;

}


    #whatsappBtn {
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 1000;
        width: 60px;
        height: 60px;
      }
      #whatsappBtn img {
        width: 100%;
        height: auto;
      }

.whatsapp-button:hover {
  transform: scale(1.1);
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.6); }
  70% { box-shadow: 0 0 0 15px rgba(37, 211, 102, 0); }
  100% { box-shadow: 0 0 0 0 rgba(37, 211, 102, 0); }
}